<div
  (click)="openChat()"
  class="cursor-default w-full py-4 px-4 flex justify-start items-center border-b border-gray-300 hover:bg-gray-100"
  [class.bg-gray-100]="(selectedChatRoom$ | async)?.chatId === chatroom.chatId"
  [class.cursor-pointer]="(selectedChatRoom$ | async)?.chatId !== chatroom.chatId"
>
  <app-avatar class="h-12 w-12 flex items-center justify-center" />
  <div class="ml-2 flex flex-col items-start justify-center w-full gap-0.5">
    <h2 class="text-xl font-medium flex justify-between items-center w-full">
      <span>{{ roomName(chatroom, principalUser$ | async) }}</span>
      @if (chatroom.latestMessage?.timestamp != null) {
        <p class="text-[.55rem] text-gray-500">
          {{ chatroom.latestMessage!.timestamp | date: 'h:mm a' }}
        </p>
      }
    </h2>
    <p class="ml-0.5 text-sm text-gray-500 line-clamp-1">{{ chatroom.latestMessage?.content }}</p>
  </div>
</div>
