<div class="flex items-center gap-2 p-3 border-t border-gray-300 bg-white">
  <textarea
    [(ngModel)]="message"
    (keyup.enter)="onSend()"
    placeholder="Type a message..."
    class="flex-1 px-3 py-2 text-sm border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
    (ngModelChange)="onTyping($event)"
  ></textarea>

  <i class="fa-solid fa-paperclip text-xl text-gray-800 hover:text-gray-600"></i>

  <button
    (click)="onSend()"
    title="Send"
    class="flex justify-between items-center gap-1.5 px-4 py-2 font-medium text-white bg-blue-600 rounded-lg hover:bg-blue-700 active:bg-blue-800 cursor-pointer"
  >
    Send
    <i class="text-sm fa-solid fa-paper-plane"></i>
  </button>
</div>
