<div class="left-bubble outer-container">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa obcaecati in laboriosam dolor quasi expedita placeat laborum earum quisquam fugit?
</div>

<div class="right-bubble outer-container">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa obcaecati in laboriosam dolor quasi expedita placeat laborum earum quisquam fugit?
</div><div class="left-bubble outer-container">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa obcaecati in laboriosam dolor quasi expedita placeat laborum earum quisquam fugit?
</div>

<div class="right-bubble outer-container">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa obcaecati in laboriosam dolor quasi expedita placeat laborum earum quisquam fugit?
</div><div class="left-bubble outer-container">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa obcaecati in laboriosam dolor quasi expedita placeat laborum earum quisquam fugit?
</div>

<div class="right-bubble outer-container">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa obcaecati in laboriosam dolor quasi expedita placeat laborum earum quisquam fugit?
</div><div class="left-bubble outer-container">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa obcaecati in laboriosam dolor quasi expedita placeat laborum earum quisquam fugit?
</div>

<div class="right-bubble outer-container">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa obcaecati in laboriosam dolor quasi expedita placeat laborum earum quisquam fugit?
</div><div class="left-bubble outer-container">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa obcaecati in laboriosam dolor quasi expedita placeat laborum earum quisquam fugit?
</div>

<div class="right-bubble outer-container">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa obcaecati in laboriosam dolor quasi expedita placeat laborum earum quisquam fugit?
</div><div class="left-bubble outer-container">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa obcaecati in laboriosam dolor quasi expedita placeat laborum earum quisquam fugit?
</div>

<div class="right-bubble outer-container">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa obcaecati in laboriosam dolor quasi expedita placeat laborum earum quisquam fugit?
</div><div class="left-bubble outer-container">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa obcaecati in laboriosam dolor quasi expedita placeat laborum earum quisquam fugit?
</div>

<div class="right-bubble outer-container">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa obcaecati in laboriosam dolor quasi expedita placeat laborum earum quisquam fugit?
</div><div class="left-bubble outer-container">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa obcaecati in laboriosam dolor quasi expedita placeat laborum earum quisquam fugit?
</div>

<div class="right-bubble outer-container">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa obcaecati in laboriosam dolor quasi expedita placeat laborum earum quisquam fugit?
</div><div class="left-bubble outer-container">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa obcaecati in laboriosam dolor quasi expedita placeat laborum earum quisquam fugit?
</div>

<div class="right-bubble outer-container">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa obcaecati in laboriosam dolor quasi expedita placeat laborum earum quisquam fugit?
</div><div class="left-bubble outer-container">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa obcaecati in laboriosam dolor quasi expedita placeat laborum earum quisquam fugit?
</div>

<div class="right-bubble outer-container">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa obcaecati in laboriosam dolor quasi expedita placeat laborum earum quisquam fugit?
</div>
