<div class="w-full gap-2 flex px-4 h-16 items-center bg-top-bar">
  <app-avatar class="h-10 w-10" />
  <a routerLink="/me" class="text-lg truncate hover:text-gray-600">
    {{ (principleUser$ | async)?.fullName }}</a
  >
  <div class="ml-auto text-gray-500 flex items-center justify-center gap-2">
    <!-- New Chat: PLUS BUTTON -->
    <!-- PLUS MENU -->
    <div class="relative">
      <div
        title="New chat"
        class="text-gray-500 hover:text-green-600 cursor-pointer"
        (click)="openPlusMenu($event)"
      >
        <icon-add-comment size="22" />
      </div>

      @if (isPlusMenuOpen) {
        <div
          class="absolute right-0 mt-2 w-40 bg-white border border-gray-200 rounded-lg shadow-lg z-50 p-1.5 text-black"
        >
          <button
            title="Start new chat"
            class="flex items-center gap-2.5 w-full text-left px-3.5 py-1.5 hover:bg-gray-100 rounded-md cursor-pointer"
            (click)="openNewChatModal()"
          >
            <icon-chat-add-on />
            New chat
          </button>

          <button
            title="Create new group"
            class="flex items-center gap-2.5 w-full text-left px-3.5 py-1.5 hover:bg-gray-100 rounded-md cursor-pointer"
            (click)="openNewGroupModal()"
          >
            <icon-group-add size="22" />
            New group
          </button>
        </div>
      }
    </div>
    <!-- Three-dot menu -->
    <div title="Menu" class="relative" (click)="openMenu(); $event.stopPropagation()">
      <div class="text-gray-500 hover:text-green-600 cursor-pointer">
        <icon-more-vertical />
      </div>

      @if (isMenuOpen) {
        <div
          class="absolute text-base right-0 mt-2 w-40 bg-white border border-gray-200 rounded-lg shadow-lg z-50 p-1.5 text-black"
        >
          <button
            class="flex justify-start items-center gap-2.5 w-full text-left px-3.5 py-1.5 hover:bg-red-50 rounded-md cursor-pointer text-red-600"
            (click)="onLogout()"
          >
            <icon-logout size="20" />
            Logout
          </button>
        </div>
      }
    </div>
  </div>
</div>

<!-- Modal -->
@if (isNewChatModalOpen) {
  <app-new-chat (close)="closeNewChatModal()" (selectUser)="onCreateDirectMessage($event)" />
}

@if (isNewGroupModalOpen) {
  <app-new-group (close)="closeNewGroupModal()" (create)="onCreateGroup($event)" />
}
