<div class="max-w-lg flex flex-col mx-auto mt-4 p-8 bg-gray-50 rounded-xl shadow-lg">
  @if (userData | async; as user) {
    <div class="relative flex justify-center">
      <div
        [title]="isPrincipalUser ? 'Edit image' : user?.avatar ? 'View photo' : ''"
        class="relative w-60 h-60 rounded-full overflow-hidden border border-gray-400"
        [class.cursor-pointer]="user?.avatar"
        (click)="onAvatarClick(user, $event)"
      >
        <app-avatar [url]="user?.avatar || null" />

        <!-- Hover Overlay -->
        @if (isPrincipalUser) {
          <div
            class="absolute inset-0 bg-black/40 flex items-center justify-center text-white text-sm opacity-0 hover:opacity-100 transition duration-200"
          >
            @if (isPrincipalUser) {
              @if (user?.avatar) {
                <span class="flex items-center justify-center gap-2 text-white/80"
                  ><icon-edit />
                </span>
              } @else {
                <span class="flex items-center justify-center gap-2 text-white/80">
                  <icon-upload />
                  Upload profile photo
                </span>
              }
            }
          </div>
        }
      </div>

      <!-- Principal Dropdown Menu -->
      @if (isPrincipalUser && isAvatarMenuOpen) {
        <div
          class="absolute top-full mt-2 w-max bg-white border border-gray-200 rounded-lg shadow-lg z-50 p-1.5"
        >
          @if (user?.avatar) {
            <button
              class="flex items-center gap-2.5 w-full text-left px-3.5 py-1.5 hover:bg-gray-100 rounded-md cursor-pointer"
              (click)="openViewer(user?.avatar!)"
            >
              <icon-visibility size="22" />
              View photo
            </button>
          }
          <button
            class="flex items-center gap-2.5 w-full text-left px-3.5 py-1.5 hover:bg-gray-100 rounded-md cursor-pointer"
            (click)="triggerFileInput()"
          >
            <icon-folder-open size="22" />
            Change photo
          </button>
        </div>
      }
    </div>

    <!-- Hidden File Input -->
    <input
      type="file"
      id="avatarFileInput"
      hidden
      accept="image/*"
      (change)="onAvatarSelected($event, user)"
    />

    <form class="mt-8 space-y-2">
      <!-- Username Field -->
      <div class="flex items-center justify-between group p-3">
        <div class="flex-1">
          <label class="text-gray-500 font-medium">Username</label>
          <div class="flex items-first-baseline">
            @if (!editField['username']) {
              <span class="block text-gray-900 mt-1">{{ user.username }}</span>
              @if (isPrincipalUser && false) {
                <div class="">
                  <button
                    title="Edit"
                    type="button"
                    class="hidden group-hover:inline-flex items-center justify-center px-2 text-gray-400 hover:text-blue-500 transition-colors"
                    (click)="startEdit('username', user.username)"
                  >
                    <icon-edit size="20" />
                  </button>
                </div>
              }
            } @else {
              <input
                type="text"
                [(ngModel)]="form.username"
                name="username"
                class="w-min mt-1 border border-gray-300 rounded-md px-3 py-2 bg-gray-50 text-gray-900 focus:ring-2 focus:ring-blue-400 dark:focus:ring-blue-600 outline-none"
              />
              <button
                title="Save"
                type="button"
                class="inline-flex items-center justify-center p-2 text-gray-400 hover:text-blue-500 transition-colors"
                (click)="saveEdit('username', user.username)"
              >
                <icon-check size="26" />
              </button>
            }
          </div>
        </div>

        @if (!isPrincipalUser) {
          <button
            class="text-gray-500 hover:text-green-600 cursor-pointer"
            (click)="onChatClick(user, $event)"
            title="Start Chat"
          >
            <icon-chat size="2.4rem" />
          </button>
        }
      </div>

      <!-- Full Name Field -->
      <div class="flex items-center justify-between group p-3">
        <div class="flex-1">
          <label class="text-gray-500 font-medium">Full Name</label>
          <div class="flex items-first-baseline">
            @if (!editField['fullName']) {
              <span class="block text-gray-900 mt-1">{{ user.fullName }}</span>
              @if (isPrincipalUser) {
                <div class="">
                  <button
                    title="Edit"
                    type="button"
                    class="hidden group-hover:inline-flex items-center justify-center px-2 text-gray-400 hover:text-blue-500 transition-colors cursor-pointer"
                    (click)="startEdit('fullName', user.fullName)"
                  >
                    <icon-edit size="20" />
                  </button>
                </div>
              }
            } @else {
              <input
                type="text"
                [(ngModel)]="form.fullName"
                name="fullName"
                class="w-min mt-1 border border-gray-300 rounded-md px-3 py-2 bg-gray-50 text-gray-900 focus:ring-2 focus:ring-blue-400 dark:focus:ring-blue-600 outline-none"
              />
              <button
                title="Save"
                type="button"
                class="inline-flex items-center justify-center p-2 text-gray-400 hover:text-blue-500 transition-colors cursor-pointer"
                (click)="saveEdit('fullName', user.fullName)"
              >
                <icon-check size="26" />
              </button>
            }
          </div>
        </div>
      </div>

      <!-- Bio Field -->
      <div class="flex items-center justify-between group p-3">
        <div class="flex-1">
          <label class="text-gray-500 font-medium">Bio</label>
          <div class="flex items-first-baseline">
            @if (!editField['bio']) {
              <span [class.opacity-50]="!user.bio" class="block text-gray-900 mt-1">{{
                user.bio || '[no Bio]'
              }}</span>
              @if (isPrincipalUser) {
                <div class="">
                  <button
                    title="Edit"
                    type="button"
                    class="hidden group-hover:inline-flex items-center justify-center px-2 text-gray-400 hover:text-blue-500 transition-colors cursor-pointer"
                    (click)="startEdit('bio', user.bio)"
                  >
                    <icon-edit size="20" />
                  </button>
                </div>
              }
            } @else {
              <input
                type="text"
                [(ngModel)]="form.bio"
                name="bio"
                class="w-min mt-1 border border-gray-300 rounded-md px-3 py-2 bg-gray-50 text-gray-900 focus:ring-2 focus:ring-blue-400 dark:focus:ring-blue-600 outline-none"
              />
              <button
                title="Save"
                type="button"
                class="inline-flex items-center justify-center p-2 text-gray-400 hover:text-blue-500 transition-colors cursor-pointer"
                (click)="saveEdit('bio', user.bio)"
              >
                <icon-check size="26" />
              </button>
            }
          </div>
        </div>
      </div>

      <!-- Email Field -->
      <div class="flex items-center justify-between group p-3">
        <div class="flex-1">
          <label class="text-gray-500 font-medium">Email</label>
          <div class="flex items-first-baseline">
            @if (!editField['email']) {
              <span class="block text-gray-900 mt-1">{{ user.email }}</span>
              @if (isPrincipalUser) {
                <div class="">
                  <button
                    title="Edit"
                    type="button"
                    class="hidden group-hover:inline-flex items-center justify-center px-2 text-gray-400 hover:text-blue-500 transition-colors cursor-pointer"
                    (click)="startEdit('email', user.email)"
                  >
                    <icon-edit size="20" />
                  </button>
                </div>
              }
            } @else {
              <input
                type="email"
                [(ngModel)]="form.email"
                name="email"
                class="w-min mt-1 border border-gray-300 rounded-md px-3 py-2 bg-gray-50 text-gray-900 focus:ring-2 focus:ring-blue-400 dark:focus:ring-blue-600 outline-none"
              />
              <button
                title="Save"
                type="button"
                class="inline-flex items-center justify-center p-2 text-gray-400 hover:text-blue-500 transition-colors cursor-pointer"
                (click)="saveEdit('email', user.email)"
              >
                <icon-check size="26" />
              </button>
            }
          </div>
        </div>
      </div>
    </form>
  } @else {
    <p class="mt-6 text-gray-500 text-center">Waiting for user data...</p>
  }
  @if (isPrincipalUser) {
    <div class="mt-10 flex justify-center">
      <button
        title="Logout"
        type="button"
        class="flex items-center justify gap-1.5 px-3 py-2 rounded-md bg-red-500 text-white hover:bg-red-700 hover:cursor-pointer transition"
        (click)="onLogout()"
      >
        Logout
        <icon-logout size="20" />
      </button>
    </div>
  }
</div>

<!-- Image Viewer -->
@if (isViewerOpen) {
  <app-image-viewer-modal [imageUrl]="selectedImageUrl" (close)="closeViewer()" />
}
