<div class="max-w-lg flex flex-col mx-auto mt-4 p-8 bg-gray-50 rounded-xl shadow-lg">
  <div class="flex flex-col justify-center sm:flex-row sm:items-center sm:space-x-6">
    <app-avatar
      [url]="(userData | async)?.avatar || null"
      alt="User Avatar"
      class="w-60 h-60 rounded-full object-cover mx-auto sm:mx-0 border border-gray-400"
    />
  </div>

  @if (userData | async; as user) {
    <form class="mt-8 space-y-2">
      <!-- Username Field -->
      <div class="flex items-center justify-between group p-3">
        <div class="flex-1">
          <label class="text-gray-500 font-medium">Username</label>
          <div class="flex items-first-baseline">
            @if (!editField['username']) {
              <span class="block text-gray-900 mt-1">{{ user.username }}</span>
              @if (isPrincipalUser && false) {
                <div class="">
                  <button
                    title="Edit"
                    type="button"
                    class="hidden group-hover:inline-flex items-center justify-center px-2 text-gray-400 hover:text-blue-500 transition-colors"
                    (click)="startEdit('username', user.username)"
                  >
                    <icon-edit size="20" />
                  </button>
                </div>
              }
            } @else {
              <input
                type="text"
                [(ngModel)]="form.username"
                name="username"
                class="w-min mt-1 border border-gray-300 rounded-md px-3 py-2 bg-gray-50 text-gray-900 focus:ring-2 focus:ring-blue-400 dark:focus:ring-blue-600 outline-none"
              />
              <button
                title="Save"
                type="button"
                class="inline-flex items-center justify-center p-2 text-gray-400 hover:text-blue-500 transition-colors"
                (click)="saveEdit('username', user.username)"
              >
                <icon-check size="26" />
              </button>
            }
          </div>
        </div>
      </div>

      <!-- Full Name Field -->
      <div class="flex items-center justify-between group p-3">
        <div class="flex-1">
          <label class="text-gray-500 font-medium">Full Name</label>
          <div class="flex items-first-baseline">
            @if (!editField['fullName']) {
              <span class="block text-gray-900 mt-1">{{ user.fullName }}</span>
              @if (isPrincipalUser) {
                <div class="">
                  <button
                    title="Edit"
                    type="button"
                    class="hidden group-hover:inline-flex items-center justify-center px-2 text-gray-400 hover:text-blue-500 transition-colors cursor-pointer"
                    (click)="startEdit('fullName', user.fullName)"
                  >
                    <icon-edit size="20" />
                  </button>
                </div>
              }
            } @else {
              <input
                type="text"
                [(ngModel)]="form.fullName"
                name="fullName"
                class="w-min mt-1 border border-gray-300 rounded-md px-3 py-2 bg-gray-50 text-gray-900 focus:ring-2 focus:ring-blue-400 dark:focus:ring-blue-600 outline-none"
              />
              <button
                title="Save"
                type="button"
                class="inline-flex items-center justify-center p-2 text-gray-400 hover:text-blue-500 transition-colors cursor-pointer"
                (click)="saveEdit('fullName', user.fullName)"
              >
                <icon-check size="26" />
              </button>
            }
          </div>
        </div>
      </div>

      <!-- Bio Field -->
      <div class="flex items-center justify-between group p-3">
        <div class="flex-1">
          <label class="text-gray-500 font-medium">Bio</label>
          <div class="flex items-first-baseline">
            @if (!editField['bio']) {
              <span [class.opacity-50]="!user.bio" class="block text-gray-900 mt-1">{{
                user.bio || '[no Bio]'
              }}</span>
              @if (isPrincipalUser) {
                <div class="">
                  <button
                    title="Edit"
                    type="button"
                    class="hidden group-hover:inline-flex items-center justify-center px-2 text-gray-400 hover:text-blue-500 transition-colors cursor-pointer"
                    (click)="startEdit('bio', user.bio)"
                  >
                    <icon-edit size="20" />
                  </button>
                </div>
              }
            } @else {
              <input
                type="text"
                [(ngModel)]="form.bio"
                name="bio"
                class="w-min mt-1 border border-gray-300 rounded-md px-3 py-2 bg-gray-50 text-gray-900 focus:ring-2 focus:ring-blue-400 dark:focus:ring-blue-600 outline-none"
              />
              <button
                title="Save"
                type="button"
                class="inline-flex items-center justify-center p-2 text-gray-400 hover:text-blue-500 transition-colors cursor-pointer"
                (click)="saveEdit('bio', user.bio)"
              >
                <icon-check size="26" />
              </button>
            }
          </div>
        </div>
      </div>

      <!-- Email Field -->
      <div class="flex items-center justify-between group p-3">
        <div class="flex-1">
          <label class="text-gray-500 font-medium">Email</label>
          <div class="flex items-first-baseline">
            @if (!editField['email']) {
              <span class="block text-gray-900 mt-1">{{ user.email }}</span>
              @if (isPrincipalUser) {
                <div class="">
                  <button
                    title="Edit"
                    type="button"
                    class="hidden group-hover:inline-flex items-center justify-center px-2 text-gray-400 hover:text-blue-500 transition-colors cursor-pointer"
                    (click)="startEdit('email', user.email)"
                  >
                    <icon-edit size="20" />
                  </button>
                </div>
              }
            } @else {
              <input
                type="email"
                [(ngModel)]="form.email"
                name="email"
                class="w-min mt-1 border border-gray-300 rounded-md px-3 py-2 bg-gray-50 text-gray-900 focus:ring-2 focus:ring-blue-400 dark:focus:ring-blue-600 outline-none"
              />
              <button
                title="Save"
                type="button"
                class="inline-flex items-center justify-center p-2 text-gray-400 hover:text-blue-500 transition-colors cursor-pointer"
                (click)="saveEdit('email', user.email)"
              >
                <icon-check size="26" />
              </button>
            }
          </div>
        </div>
      </div>
    </form>
  } @else {
    <p class="mt-6 text-gray-500 text-center">Waiting for user data...</p>
  }
  @if (isPrincipalUser) {
    <div class="mt-10 flex justify-center">
      <button
        title="Logout"
        type="button"
        class="flex items-center justify gap-1.5 px-3 py-2 rounded-md bg-red-500 text-white hover:bg-red-700 hover:cursor-pointer transition"
        (click)="onLogout()"
      >
        Logout
        <icon-logout size="20" />
      </button>
    </div>
  }
</div>
