<div
  class="left-bubble chat-bubble-container"
  [class.right-bubble]="message.userId === (principalUser$ | async)?.userId"
>
  <p
    class="text-[.65rem] font-bold mb-1 mr-8"
    [class.hidden]="message.userId === (principalUser$ | async)?.userId || isDirectMessageRoom()"
    [style.color]="selectUserColorById$(message.userId) | async"
  >
    {{ (selectUserById$(message.userId) | async)?.fullName }}
  </p>
  <p class="mr-10 whitespace-pre-wrap">{{ message.content }}</p>
  <div class="flex text-[.55rem] items-center gap-1">
    <p class="ml-auto">
      {{ formattedTime(message.timestamp) }}
    </p>
    <span>
      @if (message.userId === (principalUser$ | async)?.userId && isDirectMessageRoom()) {
        @if (message.status === messageStatus.READ) {
          <icon-done-all size="16" />
        } @else if (message.status === messageStatus.DELIVERED) {
          <icon-check size="16" />
        } @else {
          <icon-schedule size="12" />
        }
      }
    </span>
  </div>
</div>
