<div
  class="left-bubble chat-bubble-container"
  [class.right-bubble]="message.userId === (principalUser$ | async)?.userId"
  [class.text-content]="!isImage()"
>
  <p
    class="text-[.65rem] font-bold mb-1 mr-8"
    [class.hidden]="message.userId === (principalUser$ | async)?.userId || isDirectMessageRoom()"
    [style.color]="selectUserColorById$(message.userId) | async"
  >
    {{ (selectUserById$(message.userId) | async)?.fullName }}
  </p>
  @if (isImage()) {
    <img
      class="mb-2 rounded-md object-cover w-full h-full max-w-lg max-h-96"
      [src]="message.content"
      alt=""
      (click)="openViewer(message.content)"
      loading="lazy"
    />
  } @else {
    <p class="mr-10 whitespace-pre-wrap">{{ message.content }}</p>
  }
  <div class="flex text-[.55rem] items-center gap-1">
    <p class="ml-auto">
      {{ message.timestamp | date: 'h:mm a' }}
    </p>
    <span class="text-gray-300">
      @if (message.userId === (principalUser$ | async)?.userId && isDirectMessageRoom()) {
        @if (message.status === messageStatus.READ) {
          <icon-done-all title="read" size="16" class="fill-green-300" />
        } @else if (message.status === messageStatus.DELIVERED) {
          <icon-done-all title="delivered" size="16" />
        } @else if (message.status === messageStatus.SENT) {
          <icon-check title="sent" size="16" />
        } @else {
          <icon-schedule title="sending..." size="12" />
        }
      }
    </span>
  </div>
</div>

@if (isViewerOpen) {
  <app-image-viewer-modal [imageUrl]="imagePreviewUrl" (close)="closeViewer()" />
}
